*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    height: 400px;
    width: 280px;
    position: relative;
    left: 40%;
    top: 70px;
    cursor: pointer;
}
.card{
    position: absolute;
    height:100%;
    width: 100%;
    transform-style: preserve-3d;
    transition: all 0.5s ease;
}
.card:hover{
    transform: rotateY(180deg);
}
.front{
    position: absolute;
    height:100%;
    width: 100%;
    background-color: rgb(191, 88, 77);
    color: rgb(255, 255, 255);
    backface-visibility: hidden;
    border-radius: 10px;
    text-align: center;
    
}
.front .text{
    margin-top: 50px;
}
.front .text p{
    padding-top: 10px;
}
.front img{
    position: absolute;
    bottom: 40px;
    left: 50px;
    height: 200px;
}
.back{
    position: absolute;
    height:100%;
    width: 100%;
    background-color: rgb(161, 200, 152);
    color: black;
    backface-visibility: hidden;
    transform: rotateY(180deg);
    border-radius: 10px;
    text-wrap: pretty;
}
.back .back-text{
    text-align: center;
    padding: 0 15px;
    margin-top: 20px;
}
.back .back-text h3{
    border-bottom: 2px solid red;
    margin-bottom: 10px;
}
.back .back-text p{
    text-wrap: pretty;
}